.demo-chart {
    height: 400px;
  }

:host ::ng-deep .ngx-charts .grid-panel.odd rect {
    fill: white !important;
}

:host ::ng-deep .chart-legend .legend-labels {
  background: none !important;
}

/* Makes the chart container expand to the full width of the parent container*/
/* :host ::ng-deep .ngx-charts-outer {
  width: 100% !important;
} */

/* Sets the legend width to auto expand to fit labels, but caps at 200px */
:host ::ng-deep .chart-legend {
  width: auto !important;
  /* max-width: 200px; */
}

/* Some extra space is needed to offset the way the labels display */
.legend-labels {
  width: calc(100% + 10px) !important;
}

/* Wrap the label text if it ends up being longer than the max width */
/* :host ::ng-deep .legend-label-text {
  white-space: normal !important;
  width: 100% !important;
} */

.xaxis-line {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

:host ::ng-deep .chart-legend .legend-labels {
  width: auto;
}

p {
  font-size: 16px;
  color: #5c5c5c;
}

.xaxis {
  font-size: 12px;
  color: #5c5c5c;
  max-width: 2rem;
  padding: 0;
}

.yaxis {
  font-size: 10px;
  color: #5c5c5c;
  max-width: 1rem;
  padding: 0;
}

:host ::ng-deep .ngx-charts text { 
  fill: #fff;
  font-size: 16px; 
}

.chart-wrapper {
  height: 110px;
  width: 100%;
}

hr {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  p {
      font-size: 12px;
  }

}

@media screen and (max-width: 780px) {
  p {
      font-size: 12px;
  }

  .col-md-1 {
      width: 10px;
  }

  .col-md-9 {
      width: 90%;
  }

  hr {
    display: block;
  }

  .col-md-3 {
    width: 50%;
  }

  .chart-legend {
    display: none !important;
  }

  .xaxis-line {
    display: none;
  }
}