.page-content-white {
  display: block;
  position: inherit;
  text-align: center;
  /* padding-top: 23%; */
}

.welcome {
  font-size: 48px;
  font-weight: bold;
}

.login-form-input {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* Email */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #929090;
}

.label-position {
  padding-left: 11%;
  padding-bottom: 1%;
}

.label-position > label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #929090;
}

.form-group {
  width: 100%;
}

.button-position {
  padding: 2rem 0;
  text-align: center;
}

.bottom-description-position {
  text-align: center;
  padding-top: 5vh;
}

.bottom-description {
  /* Nepamätáš si heslo? Klikni sem a pošleme ti nové na email. */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #929090;
}

.btn-reset {
  font-style: normal;
  font-weight: 400;
  font-size: 17.168px;
  line-height: 21px;
  /* identical to box height */
  text-decoration-line: underline;

  color: #929292;
}
