*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.list-category {
    list-style-type: none;
}

.category-space {
    font-weight: bold;
    padding-top: 5rem;
}

.list-question {
    padding: 1rem 1.5rem 1rem 0rem;
}

.submit-position {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
}

.submit-button {
    padding: 1rem 4rem;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background: linear-gradient(0.25turn, #FF4D00, #FC7900);
    border: none;
}

.save-button {
    padding: 1rem 4rem;
    border-radius: 50px;
    font-weight: 600;
    color: #FF4D00;
    background: white;
    border: 1px solid #FF4D00;
    margin-right: 1rem;
}

table {
    width: 100%;
}

td {
    padding: 1rem 0;
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px dashed #D9D9D9;
}

td:last-child {
    border-right: none;
}

.rating-icon {
    font-size: 40px;
}

.rating-icon--green {
    color: #189D5F;
}

.rating-icon--yellow {
    color: #FF9A65;
}

.rating-icon--red {
    color: #FF5800;
}

input[type="radio"]{
    -webkit-appearance: none;
}

.xbutton-label {
    cursor: pointer;
    opacity: 5%;
}

.xbutton-label:hover {
    opacity: 100%;
}

input[type="radio"]:checked + .xbutton-label {
    opacity: 100%;
}

::ng-deep .mat-vertical-stepper-content 
{
    visibility: visible !important;
    height: 100% !important;
}

:host ::ng-deep .mat-step-icon-state-edit  {
    color: #FF5800;
    background: white;
    border: 1px solid #FF5800;
}

:host ::ng-deep .mat-step-icon-selected  {
    color: #FF5800 !important;
    background: white !important;
    border: 1px solid #FF5800 !important;
}

:host ::ng-deep .mat-step-icon-state-number {
    color: #929292;
    background: white;
    border: 1px solid #929292;
}

:host ::ng-deep .mat-stepper-vertical-line::before {
    border-left-width: 3.5px !important;
}

/* :host ::ng-deep .mat-stepper-vertical-line::before .mat-step-icon-selected {
    border-left-color: #FF5800 !important;
} */

::ng-deep .mat-vertical-stepper-header {
    &[ng-reflect-state='edit'] + .mat-stepper-vertical-line {
               border-left-color: #FF5800 !important;
    }
}

.stepper-position {
    position: fixed;
    padding-top: 2.5rem;
}

:host ::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: lightgreen !important;
}