h1 {
    color: #5c5c5c;
    font-size: 48px;
}

.overview-header {
    padding: 3rem 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.questionnaire-button {
    margin-right: 1rem;
    padding: 1rem 4rem !important;
    border-radius: 50px;
    font-weight: 600;
    color: white !important;
    background: linear-gradient(0.25turn, #FF4D00, #FC7900);
    border: none;
}

.questionnaire-button:hover {
    background: linear-gradient(88deg, #D44900 -0.01%, #FF6C1D 100.02%);
}

.download-button {
    padding: 1rem 2rem;
    border-radius: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius:  5px;
    font-weight: 600;
    color: #FF4D00;
    background: white;
    border: 1px solid #FF4D00;
    margin-right: 0rem;
}

.download-button:hover {
    background: linear-gradient(90deg, #FF4D00 0%, #FC7900 99.99%);
    color: white;
}

.download-csv-button {
    padding: 1rem 2rem;
    border-radius: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius:  5px;
    font-weight: 600;
    color: #FF4D00;
    background: white;
    border: 1px solid #FF4D00;
    margin-right: 1rem;
}

.download-csv-button:hover {
    background: linear-gradient(90deg, #FF4D00 0%, #FC7900 99.99%);
    color: white;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 35px !important;
    }
}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 30px !important;
    }

    .questionnaire-button, .download-button {
        font-size: 12px !important;
        padding: 1rem 2rem !important;
    }
}