<!-- <div class="container-white" id="container-white"> -->
<div class="wrapper">
  <div class="row col-md-12">
    <div class="page-content">
      <div class="main-description">
        <h1>Vitaj, {{user}}!</h1>

        <p>
          Začni cestu vytvorením nového klienta. Po vytvorení možeš hneď začať
          vypĺňať dotazník a vydať sa na cestu spolu s klientom.
        </p>

        <div>
          <button
            mat-button
            class="submit-button"
            type="button"
            (click)="openForm()"
          >
            Vytvoriť nového klienta
          </button>
        </div>
      </div>

      <div class="main-image">
        <img
          src="./assets/images/home_create_client.svg"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</div>

<!-- </div> -->

<div class="container-blue">
  <div class="wrapper">
    <div class="row col-md-12">
      <div class="page-content">
        <div>
          <img
            src="./assets/images/home_client_list.svg"
            class="img-fluid"
            alt="Responsive image"
          />
        </div>

        <div class="main-description">
          <h1>Vyplniť pozorovacie hárky</h1>

          <p>
            Nájdi v zozname osobu, pre ktorú chceš vyplniť pozorovacie hárky a
            klikni na Zobraziť detaily. Budeš presmerovaný na dashboard klienta,
            kde si možeš pozrieť grafické výsledky, vyplniť pozorovacie hárky a
            vytlačiť všetky dokumenty.
          </p>

          <div class="clients-list">
            <button
              mat-button
              class="submit-button"
              (click)="navigateClientsList()"
            >
              Zoznam Klientov
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
