html, body {
    margin: 0;
    height:90vh;
}

.wrapper{
    margin: 0;
    height:90vh;
}

.page-content{
    padding-left: 5%;
}

.container-white{
    display:blocks;
    height: 100%;
    background-color: #FFFFFF;
    width: 100%;
}

.container-white img{
    display:block;
    position:absolute;
    top: 25%;
    left: 50%;
    width: 30%;
}

.main-button{
    /* Create new client button - position */

    position: absolute;
    top:65%;
    /* left:9%; */
}


.btn-orange{

    /* New Client Button */
    width: 321.03px;
    height: 73px;
    
    /* Button Shadow */
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));

    /* Button */
    background: linear-gradient(87.91deg, #FF5800 0.65%, #FF8B00 100%);
    border-radius: 50px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.btn-orange:hover {

    /* New Client Button */

    width: clamp(200px, 321.03px, 600px);
    height: 73px;
    
    /* Button shadow */
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));

    /* Button */
    
    background: linear-gradient(90deg, #bcbcbc 0%, #bcbcbc 99.99%);
    border-radius: 50px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #FF4D00;
}

.main-text{
    position: absolute;
    top:25%;
    /* left:9%; */
}

.welcome{
    /* Vitaj Leonóra! */
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;

    color: #000000;

}

@media screen and (max-width: 600px) {
    .welcome {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 58px;
    
        color: #000000;
    }
  }


.name{
    font-size: 48px;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .name {
        font-size: 40px;
        font-weight: bold;
    }
  }


.main-description{
    position: absolute;
    top:50%;
    /* left:9%; */
}

#description{

    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;

    position: absolute;
    width: 380px;
    height: 67px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #5C5C5C;
}

.container-blue{
    display:block;
    height: 100%;
    width: 100%;
    background-color: #F7FBFF;
}


.container-blue img{
    display:block;
    position:absolute;
    top: 115%;
    right: 55%;
    width: 35%;
}

.main-text2{
    position: absolute;
    top:120%;
    left:59%;
}

.main-description2{
    position: absolute;
    top:145%;
    left:59%;
    text-align: left;
}

.main-button2{
    position: absolute;
    left: 59%;
    top: 165%;
}

.modal{
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-dialog{
    width: 823px;
    max-width: 100%;
    height: 747px;
    max-height: 100%;
}

.modal-content {
    position: absolute;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #FF5800;
    border-radius: 80px;
    overflow:hidden;
    text-align: center;
    pointer-events:all;
    width: 100%;
    height: 100%;
   
}

.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    top: 4%;
    right: 5%;
}

.main-text-form{
    position: absolute;
    top: 10%;
    left:50%;
    text-align: left;
}

.main-description-form{
    position: absolute;
    top: 30%;
    left:50%;
    text-align: left;
}

.description-form{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #5C5C5C;

    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    width: 340px;
    height: 67px;
}

.modal-form-body{
    width: 100%;
    padding-left: 15%;
    padding-top: 4%;
    height: 50%;
}

.spacer{
    padding-top: 5%;
}

hr{
    width:80%; 
    margin-left:10% !important; 
    margin-top: 38% !important;
    border: 1px solid #5C5C5C;

}

.modal-body{
    position: absolute;
    top:42%;
    left:30%;
}

.modal-content img{
    display:block;
    position:absolute;
    top: 3%;
    left: 10%;
    max-width: 30%;
}

.overlay{
    position: fixed; /* Positioning and size */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); /* color */
    display: none; /* making it hidden by default */
}


.footer{
    width: 100%;
    height: 28px;
    position: absolute;
    top: 189.5%; 
    left: 0px; 
    text-align: center; 
}

.footer p{
    /* Created by Dell Technologies */
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #5C5C5C;
}