.dialog-text {
  text-align: center;
  padding: 2rem 0 2rem 0;
}

@media screen and (max-width: 720px) {
  img {
    display: none;
  }

  .submit-button,
  .cancel-button {
    padding: 1rem 2rem;
  }

  .mdc-dialog__title {
    font-size: 30px !important;
  }

  p {
    font-size: 14px;
  }
}
