.dialog-text {
    text-align: center;
    padding: 2rem 0 2rem 0;
    overflow: visible;
}

.submit-button {
    padding: 1rem 4rem;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background: linear-gradient(0.25turn, #FF4D00, #FC7900);
    border: none;
}

.submit-button:hover {
    background: linear-gradient(88deg, #D44900 -0.01%, #FF6C1D 100.02%);
}

.cancel-button {
    padding: 1rem 4rem;
    border-radius: 50px;
    font-weight: 600;
    color: #FF4D00;
    background: white;
    border: 1px solid #FF4D00;
    margin-right: 1rem;
}

.cancel-button:hover {
    background: linear-gradient(90deg, #FF4D00 0%, #FC7900 99.99%);
    color: white;
}

label{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;

    color: #929090;
}

/* .row {
    text-align: center;
} */

input {
    border-radius: 80px !important;
    margin: 5%;
}

textarea {
    border-radius: 80px;
    padding: 15% 5%;
    margin: 5%;
    resize: none;
}

select {
    border-radius: 80px;
    margin: 5%;
}

.btn-orange-form {
    padding: 1rem 5rem;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    background: linear-gradient(87.91deg, #FF5800 0.65%, #FF8B00 100%);
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 27rem;
}

:host ::ng-deep .mat-mdc-dialog-container, .mat-mdc-dialog-container .mdc-dialog__container, .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 1000px !important;
}