:host ::ng-deep .ngx-charts .grid-panel.odd rect {
  fill: white !important;
}

.chart-wrapper {
  height: 100px;
  width: 100%;
}

:host ::ng-deep .ngx-charts text {
  fill: #fff;
}

.rating-icon {
  font-size: 40px;
}

.rating-icon--green {
  color: #189d5f;
}

.rating-icon--yellow {
  color: #ff9a65;
}

.rating-icon--red {
  color: #d8200f;
}

.rating-icons-layout {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
}

a {
  color: #929090;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 16px;
  color: #5c5c5c;
}

.yaxis {
  font-size: 10px;
  color: #5c5c5c;
  max-width: 1rem;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 780px) {
  p {
    font-size: 12px;
  }

  .col-md-1 {
    width: 20px;
  }

  .col-md-9 {
    width: 80%;
  }
}

.chart-container {
  width: 100%;
  height: 80vh;
}

.plot {
  width: 100%;
  height: 100%;
  display: block;
}

.tabs {
  height: 350px;
}

.tabs ::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.tabs ::ng-deep .mat-mdc-tab-body {
  height: 100%;
}
