.rating-icon {
  font-size: 40px;
}

a {
  color: #929090;
  text-decoration: none;
  cursor: pointer;
}

.yaxis {
  font-size: 10px;
  color: #5c5c5c;
  max-width: 1rem;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 780px) {
  p {
    font-size: 12px;
  }

  .col-md-1 {
    width: 20px;
  }

  .col-md-9 {
    width: 80%;
  }
}

.tabs {
  height: 350px;
}

.tabs ::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.tabs ::ng-deep .mat-mdc-tab-body {
  height: 100%;
}

.mat-column-id {
  width: 5%;
}

.mat-column-question {
  width: 71%;
}

.mat-column-phase_1,
.mat-column-phase_2,
.mat-column-phase_3 {
  width: 8%;
  text-align: center;
}
