<div class="alert-container {{ positionClass }}">
  <div class="alert-wrapper">
    @for (alert of alerts; track alert; let i = $index) {
      <div [@anim]="alert.isVisible ? windowPosition : null">
        @if (alert.isVisible) {
          <div class="{{ cssClass(alert) }}">
            @if (alert.title) {
              <div class="alert-title">{{ alert.title }}</div>
            }
            <div class="alert-content-container">
              <div class="alert-icon-container">
                @if (iconTemplate != null) {
                  <div>
                    <ng-container
                      [ngTemplateOutlet]="iconTemplate"
                      [ngTemplateOutletContext]="{ data: alert }"
                    >
                    </ng-container>
                  </div>
                } @else {
                  <div class="{{ iconClass(alert.type) }}"></div>
                }
              </div>
              <div class="alert-content">
                @if (contentTemplate != null) {
                  <div>
                    <ng-container
                      [ngTemplateOutlet]="contentTemplate"
                      [ngTemplateOutletContext]="{ data: alert }"
                    ></ng-container>
                  </div>
                } @else {
                  <div class="content-text-container">
                    {{ alert.message }}
                  </div>
                }
              </div>
              <div class="alert-close-button">
                <a
                  class="{{ closeBtnClass(alert) }}"
                  (click)="removeAlert(alert)"
                  >&times;</a
                >
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
