<div class="layout">
    <div class="row">
        
        <div class="col-md-4">
            <div class="page-explanation">
                <h1>Tvoje</h1>
                <h1><b>nastavenia</b></h1>

                <div>
                    <p>
                        Tu si môžeš zmeniť meno, priezvisko
                        alebo heslo ako len potrebuješ.
                    </p>
                    <img src="/assets/images/profile.svg" />
                </div>
            </div>
        </div>

        <div class="col-md-8" style="background-color: white;">
            <div style="padding: 3rem 1rem 2rem;">
                <div class="page-content-white">
                    <div class="spacer2"></div>
                    <div class="main-text">
                        <h1 class="user-name">{{user.name}} {{user.surname}}</h1>
                    </div>
                    <div class="spacer2"></div>
                </div>

                <div class="navigation-links">
                    <a routerLink="/user-profile/change" class="navigation-link personal-details" [ngClass]="{ 'active': activeForm === 'change', 'inactive': activeForm !== 'change' }">Zmeniť údaje</a>
                    <a routerLink="/user-profile/password" class="navigation-link password" [ngClass]="{ 'active': activeForm === 'password', 'inactive': activeForm !== 'password' }">Zmeniť heslo</a>
                </div>
                    
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>