<div class="layout">
    <div class="row" style="margin: 0 10%">
        <div class="col-md-4">
            <div class="page-explanation">
                <h1>Tvoje</h1>
                <h1><b>nastavenia</b></h1>
    
                <div>
                    <p>
                        Tu si môžeš zmeniť meno, priezvisko
                        alebo heslo ako len potrebuješ.
                    </p>

                    <img src="/assets/images/profile.svg" />
                </div>
            </div>
        </div>
        <div class="col-md-8" style="background-color: white;">
            <div style="padding: 3rem 1rem 2rem;">
                <div class='change-form'> 
                    <app-change-form></app-change-form>
                </div>
            </div>
        </div>
    </div>
</div>
