.butt {
  padding-top: 10%;
}

.row {
  text-align: center;
}

.dialog-text {
  text-align: center;
  padding: 2rem 0;
  overflow: visible;
}

.main-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  p,
  label {
    font-size: 14px;
    text-align: center;
  }

  img {
    display: none;
  }

  .main-description {
    width: 100%;
    text-align: center;
    padding: 10%;
  }

  .main-image {
    display: none;
  }

  .col-md-5 {
    display: none;
  }

  .col-md-7 {
    width: 100%;
  }

  .submit-button,
  .cancel-button {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 767px) {
  p,
  label {
    font-size: 14px;
  }

  img {
    display: none;
  }

  .main-description {
    width: 100%;
    text-align: center;
  }

  .main-image {
    display: none;
  }

  .submit-button,
  .cancel-button {
    padding: 1rem 2rem;
  }
}
