<div class="page-content-white">
  <div class="spacer2"></div>
  <div class="main-text">
      <h1 class="font-weight-bold welcome">{{user.name}} {{user.surname}}</h1>
  </div>
  <div class="spacer2"></div>
</div>

<form class="change" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="spacer3"></div>

  <div class="form-group">
      <div class="label-position">
          <label for="newPassword">Nové heslo</label>
      </div>
      <div class="input-position">
          <input type="password" class="form-control" formControlName="newPassword" placeholder="{{'nové heslo'}}">
      </div>
  </div>

  <div class="spacer2"></div>

  <div class="form-group">
      <div class="label-position">
          <label for="confirmPassword">Potvrdiť nové heslo</label>
      </div>
      <div class="input-position">
          <input type="password" class="form-control" formControlName="confirmPassword" placeholder="{{'nové heslo'}}">
      </div>  
  </div>

  <div *ngIf="message" [class.message-bar-success]="!error" [class.message-bar-error]="error">{{ message }}</div>

  <div class="spacer2"></div>

  <div class="button-position">
      <button class="btn btn-orange-form" type="submit">
          Zmeniť heslo
      </button>
  </div>
</form>
