<form class="change" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="newPassword">Nové heslo</label>
    <input type="password" class="form-control" formControlName="newPassword" placeholder="*****">
  </div>

  <div class="form-group">
    <label for="confirmPassword">Potvrdiť nové heslo</label>
    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="*****">
  </div>

  <div *ngIf="message" [class.message-bar-success]="!error" [class.message-bar-error]="error">{{ message }}</div>

  <div class="button-position">
      <button class="btn btn-orange-form" type="submit">
          Zmeniť heslo
      </button>
  </div>
</form>
