.page-content-white {
    text-align: center;
    position: relative;
}

.welcome{
    font-size: 48px;
    font-weight: bold;
}

.input-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 399.03px;
    height: 73px;
    border-radius: 80px;
    margin: 0 auto; /* Center horizontally */
}

.input-position input {
    width: calc(100% - 40px); /* Adjust this value to leave space for the text to be left-aligned */
    height: 100%;
    border-radius: 80px;
    text-align: center;
    padding-left: 20px; /* Add padding for left alignment */
}

.label-position {
    text-align: left; /* Align labels to the left */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #929090;
    padding-bottom: 1%;
}

.label-position label[for="surname"] {
    margin-left: 23px; 
}

.label-position label[for="name"] {
    margin-left: 23px; 
}

.form-group {
    text-align: center;
    width: 399.03px; 
    margin: 0 auto; 
}

.form-group .input-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 73px;
    border-radius: 80px;
    margin: 0 auto; /* Center horizontally */
}

.form-group .input-position input {
    width: 100%;
    height: 100%;
    border-radius: 80px;
    text-align: left; /* Center text within inputs */
}

.btn-orange-form{

    width: 399.03px;
    height: 73px;
    
    /* Button Shadow */
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));

    /* Button */
    background: linear-gradient(87.91deg, #FF5800 0.65%, #FF8B00 100%);
    border-radius: 50px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.btn-orange-form:hover {

    width: 399.03px;
    height: 73px;
    
    /* Button shadow */
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));

    /* Button */
    background: linear-gradient(90deg, #bcbcbc 0%, #bcbcbc 99.99%);
    border-radius: 50px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #FF4D00;
}

.form{
    padding-top: 7.5vh;
}

.button-position{
    text-align: center;
}

.spacer2{
    padding-top: 3%;
}

.spacer3{
    padding-top: 15vh;
}

.bottom-description-position{
    text-align: center;
    padding-top: 5vh;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.group-119 {
    display: flex;
    align-items: center; 
    justify-content: center;
    position: absolute;
    left: 42.5%; 
    transform: translateX(-50%); 
    top: calc(100% + 20px); 
}

.personal-details {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: #C1C0C0; 
  }
  
  .password {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: #FF4D00; 
  }