<form class="change" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <div class="label-position">
      <label for="newPassword">Nové heslo</label>
    </div>
    <div class = "pwd-change-input">
      <mat-form-field appearance="outline" class="input-position">
        <input matInput [type]="showPasswordnew ? 'text' : 'password'" class="form-control" formControlName="newPassword" placeholder="*****">
        <mat-icon matSuffix (click)="togglePasswordVisibilitynew()">{{showPasswordnew?'visibility_off':'visibility'}}</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="form-group">
    <div class="label-position">
      <label for="confirmPassword">Potvrdiť nové heslo</label>
    </div>
    <div class = "pwd-change-input">
      <mat-form-field appearance="outline" class="input-position">
        <input matInput [type]="showPasswordconfirm ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" placeholder="*****">
        <mat-icon matSuffix (click)="togglePasswordVisibilityconfirm()">{{showPasswordconfirm?'visibility_off':'visibility'}}</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <alert [maxItems]="3" [delay]="0"></alert>
  <!-- <div *ngIf="message" [class.message-bar-success]="!error" [class.message-bar-error]="error">{{ message }}</div> -->

  <div class="button-position">
      <button class="btn btn-orange-form" type="submit">
          Zmeniť heslo
      </button>
  </div>
</form>
