<div class="layout">
    <div class="row">
        <div class="col-md-4">
            <div class="page-explanation">
                <h1>Vyhľadaj si</h1>
                <h1><b>klienta v zozname</b></h1>
    
                <div>
                    <p>
                        Do vyhľadávania môžeš napísať meno, priezvisko, rok, číslo zmluvy alebo fázu, 
                        v ktorej sa klient nachádza a my ho nájdeme. 
                        Potom už iba klikni na tlačidlo Detaily a ukážeme ti prehľad zvoleného klienta.
                    </p>

                    <img src="/assets/images/client_list.svg" />
                </div>
            </div>
        </div>
        <div class="col-md-8" style="background-color: white;">
            <div style="padding: 5rem 1rem 2rem;">
                <app-clients-table></app-clients-table>
            </div>
        </div>
    </div>
</div>
