<body>
    <div class="container-white" id="container-white">

        <div class="main-text">
            <h1 id="welcome" class="font-weight-normal">Vitaj</h1>
            <h1 id="name" class="font-weight-bold">Leonóra!</h1>
        </div>


        <div class="main-description">
            <p id="description">Začni cestu vytvorením nového klienta. Po vytvorení možeš 
                hned začať vypĺňať dotazník a vydať sa na cestu 
                spolu s klientom.
            </p> 
        </div>
    

        <div class="main-button">
            <button class="btn btn-orange" type="submit" (click) = "openForm()">
                Vytvoriť nového klienta
            </button>
        </div>

        <img src="/assets/images/data_boy.svg"  class="img-fluid" alt="Responsive image">

    </div>
</body>
<body>
    <div class="container-blue" id="container-blue">


        <div class="main-text2">
            <h1 id="welcome" class="font-weight-normal">Vyplniť</h1>
            <h1 id="name" class="font-weight-bold">pozorovacie hárky</h1>
        </div>


        <div class="main-description2">
            <p id="description">Nájdi v zozname osobu, pre ktorú chceš vyplniť 
                pozorovacie hárky a klikni na Zobraziť detaily. 
                Budeš presmerovaný na dashboard klienta, kde si možeš pozrieť 
                grafické výsledky, vyplniť pozorovacie hárky a vytlačiť 
                všetky dokumenty.
            </p> 
        </div>

        <div class="main-button2">
            <button class="btn btn-orange" type="submit">
                Zoznam Klientov
            </button>
        </div>



        <img src="/assets/images/data_boy2.svg"  class="img-fluid" alt="Responsive image">

    </div>
</body>

<div id="footer">
    <p>Created by Dell Technologies</p>
 </div> 

<!-- NEW CLIENT FORM -->
<body>
    <div class="overlay" id="overlay">
        <div class="modal" tabindex="-1" role="dialog" id="form-new-client">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="main-text-form">
                        <h1 id="welcome" class="font-weight-normal">Vytvoriť</h1>
                        <h1 id="name" class="font-weight-bold">nového klienta</h1>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="main-description-form">
                        <p id="description-form">
                            Vyplň formulár, my pre teba všetko pripravíme aby si mohol rovno vypĺňať pozorovací hárok !
                        </p> 
                    </div>

                    <img src="/assets/images/data_form.svg"  class="img-fluid" alt="Responsive image">

                    <hr/>

                    <div class="modal-body">
                        <form class="form-inline">
                            <div class="form-group">
                            <label for="client-name" class="col-form-label">Meno klienta</label>
                            <input type="text" class="form-control" id="client-name">
                            </div>
                            <div class="form-group">
                            <label for="client-surname" class="col-form-label">Priezvisko klienta</label>
                            <input type="text" class="form-control" id="client-surname">
                            </div>
                            <div class="form-group">
                                <label for="contract-number" class="col-form-label">Číslo zmluvy</label>
                                <input type="text" class="form-control" id="contract-number">
                            </div>
                        </form>
                    
                    </div>
                
                    
                    <button class="btn btn-orange-form" type="submit">
                        Potvrdiť
                    </button>
            </div>
            </div>
        </div>
    </div>
</body>