.detail-button {
  /* border-radius: 50px; */
  font-size: 16px;
  font-weight: 700;
  color: #ff4d00;
  background: none;
  /* background: linear-gradient(0.25turn, #FF4D00, #FC7900); */
  border: none;
}

.detail-button:hover {
  color: #d44900;
}

td {
  padding: 1rem;
  color: #929090;
}

th {
  color: #929090;
}

table {
  width: 100%;
}

table.mat-table {
  display: table;
}

:host ::ng-deep .mat-mdc-paginator-container {
  color: #929090;
}

/* :host ::ng-deep .mat-mdc-dialog-container {
    width: 1000px !important;
} */

input {
  border-radius: 80px !important;
  margin: 5%;
}

span {
  position: absolute;
  top: 38%;
  right: 2%;
}

.size-input-wrapper {
  max-width: 100%;
  position: relative;
  display: inline-block;
}

.delete-button {
  background: none;
  border: none;
  width: 2.5rem;
}

.delete-button:hover {
  color: #d44900;
}

.active-icon--green {
  color: #189d5f;
}

.active-icon--red {
  color: #ff5800;
}

.mat-column-edit {
  text-align: center;
  width: 15%;
}

.mat-column-category {
  width: 20%;
}

.mat-column-question {
  width: 65%;
}
