<alert [maxItems]="3" [delay]="0"></alert>
<div style="padding: 1rem 2rem; display: flex; justify-content: space-between">
  <div style="width: 70%">
    <div class="form-group row">
      <div class="col-md-10 size-input-wrapper">
        <input
          #searchVal
          placeholder="Vyhľadaj otázku"
          type="text"
          class="form-control"
          (keyup)="applyFilter(searchVal.value)"
        />
        <span><i class="fas fa-search"></i></span>
      </div>
    </div>
  </div>
  <div>
    <button mat-button color="primary" (click)="openQuestionForm()">
      <i class="fas fa-plus"></i> Pridať otázku
    </button>
    <button mat-button color="primary" (click)="lockQuestions()">
      @if (lock) {
        <i class="fas fa-lock"></i> Uzamknúť otázky
      } @else {
        <i class="fas fa-check"></i> Potvrdiť uzamknutie
      }
    </button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="clients-table" matSort>
  <ng-container matColumnDef="lock-selection">
    <th mat-header-cell *matHeaderCellDef>Výber</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <mat-checkbox
        [ngModel]="!element.is_valid"
        (change)="element.is_valid = !element.is_valid"
      ></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="is_valid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stav</th>
    <td mat-cell *matCellDef="let element">
      @if (!element.is_valid) {
        <i class="fas fa-lock active-icon--red"></i>
      } @else {
        <i class="fas fa-circle active-icon--green"></i>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Otázka</th>
    <td mat-cell *matCellDef="let element">{{ element.question }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kategória</th>
    <td mat-cell *matCellDef="let element">{{ element.category }}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Upraviť / Vymazať</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        (click)="editQuestionForm(element)"
      >
        <i class="fas fa-xl fa-edit"></i>
      </button>
      <button mat-icon-button color="primary" (click)="deleteQuestion(element)">
        <i class="fas fa-xl fa-trash-can"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  #paginator
  [pageSize]="7"
  [hidePageSize]="true"
  showFirstLastButtons
  aria-label=""
>
</mat-paginator>
