.detail-button {
    padding: 0.75rem 3rem;
    /* border-radius: 50px; */
    font-size: 16px;
    font-weight: 700;
    color: #FF4D00;
    background: none;
    /* background: linear-gradient(0.25turn, #FF4D00, #FC7900); */
    border: none;
}

.detail-button:hover {
    color: #D44900;
}

td {
    padding: 1rem;
    color: #929090;
}

th {
    color: #929090;
}

table {
    width: 100%;
}

table.mat-table {
    display: table;
}

:host ::ng-deep .mat-mdc-paginator-container {
    color: #929090;
}

:host ::ng-deep .mat-mdc-dialog-container {
    width: 1000px !important;
}