.active-icon--green {
  color: #189d5f;
}

.active-icon--red {
  color: #ff5800;
}

.mat-column-edit {
  text-align: center;
  width: 15%;
}

.mat-column-category {
  width: 20%;
}

.mat-column-question {
  width: 65%;
}

span {
  position: absolute;
  top: 38%;
  right: 2%;
}

.size-input-wrapper {
  max-width: 100%;
  position: relative;
  display: inline-block;
}
