<div class="layout">
    <div class="row">
        <div class="col-md-4">
            <div class="page-explanation">
                <h1>Nastavenia</h1>
                <h1><b>právomocí</b></h1>
    
                <div>
                    <p>
                        Pridať alebo odstrániť zamestnanca?
                        Prideliť niekomu práva, aby mohol vytvárať 
                        alebo odstraňovať zamestnancov?
                        Presne to možeš spraviť tu!
                    </p>

                    <img src="./assets/images/users_list.svg" />
                </div>
            </div>
        </div>
        <div class="col-md-8" style="background-color: white;">
            <div style="padding: 3rem 1rem 2rem;">
                <app-user-table></app-user-table>
            </div>
        </div>
    </div>
</div>
