<div class="progress-div">
    <ul class="progress">
      <li *ngFor="let phase of phasesList; first as isFirst"
          [class.inactive]="phase.id > phaseId + 1"
          [class.first]="phase.id === 1"
          [class.second]="phase.id === 2"
          [class.third]="phase.id === 3"
          [class.not-first]="!isFirst"
          >
        <span [class.active-status]="phase.id <= phaseId + 1">{{phase.name}}</span>
        <!-- <span *ngIf="phase.id < phaseId">{{phase.name}}</span> -->
      </li>
    </ul>
  </div>