.progress-div {
    box-sizing: border-box;
    padding-bottom: 15px;
  }
  
.progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
    background-color: transparent !important;
}
  
.progress li {
    float: left;
    padding: 10px 30px 10px 40px;
    background: linear-gradient(0.25turn, #FF4D00, #FC7900);
    color: #fff;
    position: relative;
    width: 32.8%;
    margin: 0 1px;
}
  
.progress li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
  
.progress li.not-first:before {
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}
  
.progress li:after {
    content: '';
    border-left: 16px solid #FC7900;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}
  
.progress li.inactive {
    color: #5C5C5C;
    background: #EFEFEF;
    /* cursor: pointer; */
}
  
  /* .progress li.inactive:hover {
    background: #33B0FF;
} */
  
.progress li.inactive:after {
    border-left-color: #EFEFEF;
}
  
/* .progress li.inactive:hover::after {
    border-left-color: #33B0FF;
} */
  
.progress li.completed {
    width: 2% !important;
}
  
.progress .active-status {
    font-weight:bold;
}

.progress, .progress-stacked {
    --bs-progress-height: 100% !important;
}