<form class="change" [formGroup]="changeForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="name">Meno</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Meno">
    </div>

    <div *ngIf="message" [class.message-bar-success]="!error" [class.message-bar-error]="error">{{ message }}</div>

    <div class="form-group">
        <label for="surname">Priezvisko</label>
        <input type="text" class="form-control" formControlName="surname" placeholder="Priezvisko">
    </div>

    <div class="button-position">
        <button class="btn btn-orange-form" type="submit">
            Uložiť zmeny
        </button>
    </div>
</form>
