.page-content-white {
    text-align: center;
    position: relative;
}

.welcome{
    font-size: 48px;
    font-weight: bold;
}

.change {
    padding: 5% 15%;
}

.input-position{
    margin: auto;
    width: 85%;
}

.input-position> input{
    height: 56.6px;
}

.change-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
    border: none !important;
    --mdc-outlined-text-field-hover-outline-color: #5C5C5C;
    --mdc-outlined-text-field-focus-outline-color: #5C5C5C;
    --mdc-outlined-text-field-outline-color: var(--bs-border-color);
    --mdc-outlined-text-field-error-caret-color: #5C5C5C;
    --mdc-outlined-text-field-error-focus-label-text-color: #5C5C5C;
    --mdc-outlined-text-field-error-focus-outline-color: #5C5C5C;
    --mdc-outlined-text-field-error-hover-outline-color: #5C5C5C;
    --mdc-outlined-text-field-error-label-text-color: #5C5C5C;
    --mdc-outlined-text-field-error-outline-color: #5C5C5C;
  }
:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: black;
}

label {
    text-align: left; /* Align labels to the left */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #929090;
    padding-bottom: 1%;
    padding-left: 10%;
}

.label-position label[for="surname"] {
    margin-left: 23px; 
}

.label-position label[for="name"] {
    margin-left: 23px; 
}

.form-group {
    padding: 1rem 2rem;
    margin: 0 auto; 
}

.btn-orange-form{

    width: 50%;
    padding: 1.5rem;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    background: linear-gradient(87.91deg, #FF5800 0.65%, #FF8B00 100%);
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.btn-orange-form:hover {
    background: linear-gradient(90deg, #FF4D00 0%, #FC7900 99.99%);
    color: white;
}

.form{
    padding-top: 7.5vh;
}

.button-position{
    text-align: center;
}

.spacer2{
    padding-top: 3%;
}

.spacer3{
    padding-top: 15vh;
}

.bottom-description-position{
    text-align: center;
    padding-top: 5vh;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.personal-details {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: #FF4D00; 
  }
  
  .password {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: #C1C0C0; 
  }

  
  .message-bar-success {
    text-align: center;
    padding-top: 3vh;
    position: absolute;
    right: 26%; 
    top: 3;
    z-index: 1;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    background: linear-gradient(87.91deg, #4CAF50 0.65%, #04ff00 100%);
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    width: 399.03px;
    height: 73px;
  }

  .message-bar-error {  
    text-align: center;
    padding-top: 3vh;
    position: absolute;
    right: 26%; 
    top: 3;
    z-index: 1;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    background: linear-gradient(87.91deg, #FF4D00 0.65%, #FF8B00 100%);
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    width: 399.03px;
    height: 73px;
  }

  