.main-description-form {
  padding-top: 5%;
}

hr {
  width: 80%;
  margin-left: 10% !important;
  border: 1px solid #5c5c5c;
}

.modal-dialog {
  max-width: 100%;
  width: 90vh;
  height: 90vh;
}

.modal-content {
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 80px;
  overflow: hidden;
  text-align: center;
  pointer-events: all;
  width: 100%;
  height: 100%;
}

.close {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 4%;
  right: 5%;
}

.main-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  text-align: left;
}

.form-control-radio {
  margin: 5%;
}

input {
  border-radius: 80px;
  width: 100%;
  margin: 5%;
}

.dialog-text {
  text-align: center;
  padding: 2rem 0 2rem 0;
  overflow: visible;
}

@media screen and (max-width: 1280px) {
  p {
    font-size: 14px;
    text-align: center;
  }

  img {
    display: none;
  }

  .col-md-5 {
    display: none;
  }

  .col-md-7 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
    text-align: center;
  }

  img {
    display: none;
  }

  .col-md-5 {
    display: none;
  }

  .col-md-7 {
    width: 100%;
  }

  .submit-button,
  .cancel-button {
    padding: 1rem 2rem;
  }
}
