<div class="wrapper">

    <div class="container-blue" id="container-blue">


        <div class="page-content-logo">
        
            <div class="main-logo">
                <img src="/assets/images/logo.png"  class="img-fluid logo" alt="Responsive image">
            </div>

        </div>

        <div class="page-content">
        
            <div class="main-text">
                <h1 class="font-weight-bold welcome">Vitaj späť!</h1>
            </div>

            <div class="spacer"></div>

            <div class="main-description">
                <p class="description">Prihlás sa do svojho účtu</p> 
            </div>

        </div>

        <div class="login-img">
            <img src="/assets/images/login.svg"  class="img-fluid" alt="Responsive image">
        </div>

        
    </div>

    <div class="container-white">
        
        <div class="page-content-logo">
            <div class="main-logo"></div>
        </div>

        <div class = 'login-form'>
            <app-login-form></app-login-form>
        </div>
  
    </div>

</div>