<mat-dialog-content align="center">
  <img [src]="data.img" />
</mat-dialog-content>

<mat-dialog-content align="center">
  <h1 mat-dialog-title>{{ data.title }}</h1>
</mat-dialog-content>

<mat-dialog-content class="dialog-text" align="center">
  <p class="submessage">{{ data.message }}</p>
  @if (data.submessage) {
    <p class="submessage">
      {{ data.submessage }}
    </p>
  }
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close class="cancel-button">NIE</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    class="submit-button"
  >
    ÁNO
  </button>
</mat-dialog-actions>

<mat-dialog-content align="center">
  <p>
    <b>{{ data.footerMessage }}</b>
  </p>
</mat-dialog-content>
