.dialog-text {
  text-align: center;
  padding: 2rem 0 2rem 0;
}

@media screen and (max-width: 1280px) {
  p {
    font-size: 14px;
    text-align: center;
  }

  img {
    display: none;
  }

  .col-md-5 {
    display: none;
  }

  .col-md-7 {
    width: 100%;
  }

  .cancel-button,
  .submit-button {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
    text-align: center;
  }

  img {
    display: none;
  }

  .col-md-5 {
    display: none;
  }

  .col-md-7 {
    width: 100%;
  }

  .cancel-button,
  .submit-button {
    padding: 1rem 2rem;
  }
}

.submessage {
  white-space: pre-line;
}
