// /* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@import "./styles/_variables.scss";
@import "./styles/_material-overrides.scss";
@import "@fortawesome/fontawesome-free/css/all.css";

@include mat.core();

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  --mat-sys-primary: var(--primary);
  --mat-sys-on-primary: var(--text-on-primary);
  --mat-sys-primary-container: var(--background);
  --mat-sys-on-primary-container: #2a0d00;

  --mat-sys-surface: var(--background);
  --mat-sys-on-surface: var(--text-on-surface);
  --bs-heading-color: var(--text-secondary);

  // ICON BUTTON SETTINGS
  --mat-icon-button-icon-color: var(--primary);
  --mat-icon-button-icon-size: 16px;
  --mat-icon-button-state-layer-color: transparent;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.

body {
  color: var(--text-secondary);
  margin: 0;
}

/* PRIMARY BUTTON*/
.submit-button.mat-mdc-button {
  padding: 1rem 4rem;
  border-radius: 50px;
  font-weight: 600;
  color: var(--text-on-primary);
  background: linear-gradient(
    0.25turn,
    var(--primary-start),
    var(--primary-end)
  );
  border: none;

  /* Material text-button tokens */
  --mat-text-button-label-text-color: var(--text-on-primary);
  --mat-text-button-state-layer-color: transparent;
}

.submit-button.mat-mdc-button,
.submit-button.mat-mdc-button .mdc-button__label,
.submit-button.mat-mdc-button .mat-icon {
  color: white;
}

.submit-button.mat-mdc-button:hover {
  background: linear-gradient(
    88deg,
    var(--primary-hover-start) -0.01%,
    var(--primary-hover-end) 100.02%
  );
}

/* SECONDARY BUTTON*/
.cancel-button.mat-mdc-button {
  padding: 1rem 4rem;
  border-radius: 50px;
  font-weight: 600;
  color: var(--primary);
  background: white;
  border: 1px solid var(--primary);
  margin-right: 1rem;
}

.cancel-button.mat-mdc-button:hover {
  background: linear-gradient(
    90deg,
    var(--primary-hover-start) 0%,
    var(--primary-hover-end) 99.99%
  );
  color: white;
}

/* TEXTS */
h1 {
  font-size: 40px;
  padding: 0.5rem 0;
}

p {
  font-size: 16px;
  padding: 0;
  font-weight: 400;
}

label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  text-align: left;
  align-self: center;

  color: #929090;
}

/* INPUTS */
.form-control {
  padding: 1rem;
}

input {
  --bs-border-radius: 80px;
  padding: 0.5rem;
  margin: 5%;
}

.password-wrapper {
  position: relative;
}

.password-toggle {
  position: absolute;

  top: 50%;
  right: 12px;

  transform: translateY(-50%);

  cursor: pointer;
  color: #929090;
}
