.detail-button {
    padding: 0.75rem 3rem;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: linear-gradient(0.25turn, #FF4D00, #FC7900);
    border: none;
}

td {
    padding: 0.5rem 1rem;
    color: #929090;
}

th {
    color: #929090;
}

table {
    width: 100%;
}

table.mat-table {
    display: table;
}

:host ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0 !important;
    background: white !important;
    border: 1px solid #E7E7E7 !important;
    border-radius: 80px !important;
    width: 50% !important;
    color: #a3a3a3 !important;
}

:host ::ng-deep .mat-mdc-paginator-container {
    color: #929090;
}