span {
  position: absolute;
  top: 38%;
  right: 2%;
}

.size-input-wrapper {
  max-width: 100%;
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 720px) {
  table {
    width: fit-content !important;
  }

  th,
  td {
    font-size: 10px;
  }

  td {
    width: 50%;
  }
}

.delete-button {
  background: none;
  border: none;
  width: 2.5rem;
}

.active-icon--green {
  color: var(--icon-green);
}

.active-icon--red {
  color: var(--icon-red);
}

.mat-column-details,
.mat-column-delete {
  text-align: center;
}
