<alert [maxItems]="3" [delay]="0"></alert>
<div class="row col-md-12">
  <div class="col-md-8">
    <div class="form-group row">
      <div class="size-input-wrapper">
        <input
          #searchVal
          placeholder="Vyhľadaj klienta"
          type="text"
          class="form-control"
          (keyup)="applyFilter(searchVal.value)"
        />
        <span><i class="fas fa-search"></i></span>
      </div>
    </div>
  </div>
  <div class="col-md-4" style="display: flex; justify-content: end">
    <button mat-button color="primary" (click)="lockClients()">
      @if (lock) {
        <i class="fas fa-lock"></i> Uzamknúť klientov
      } @else {
        <i class="fas fa-check"></i> Potvrdiť uzamknutie
      }
    </button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="clients-table" matSort>
  <ng-container matColumnDef="lock-selection">
    <th mat-header-cell *matHeaderCellDef>Výber</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <mat-checkbox
        [ngModel]="!element.active"
        (change)="element.active = !element.active"
      ></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stav</th>
    <td mat-cell *matCellDef="let element">
      @if (!element.active) {
        <i class="fas fa-lock active-icon--red"></i>
      } @else {
        <i class="fas fa-circle active-icon--green"></i>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Meno</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Priezvisko</th>
    <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
  </ng-container>

  <ng-container matColumnDef="contract_no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Číslo zmluvy</th>
    <td mat-cell *matCellDef="let element">{{ element.contract_no }}</td>
  </ng-container>

  <ng-container matColumnDef="registration_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok</th>
    <td mat-cell *matCellDef="let element">
      {{ element.contract_no.split("-")[1] }}
    </td>
  </ng-container>

  <ng-container matColumnDef="last_phase">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Posledná Fáza</th>
    <td mat-cell *matCellDef="let element">{{ element.last_phase }}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Zobraziť detail</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        (click)="showClientOverview(element)"
      >
        <i class="fas fa-xl fa-chart-simple"></i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Upraviť / Vymazať</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editClientForm(element)">
        <i class="fas fa-xl fa-edit"></i>
      </button>
      <button
        mat-icon-button
        color="primary"
        (click)="deleteClientDialog(element)"
      >
        <i class="fas fa-xl fa-trash-can"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  #paginator
  [pageSize]="7"
  [hidePageSize]="true"
  showFirstLastButtons
  aria-label=""
>
</mat-paginator>
