<mat-dialog-content align="center">
  <img src="../../../../../../../assets/images/delete_popup.svg">
</mat-dialog-content>

<h1 mat-dialog-title>VYMAZAŤ POUŽÍVATEĽA?</h1>

<mat-dialog-content class="dialog-text" align="center">
  <p>Cheš natrvalo vymazať nasledujúceho používateľa?</p> 
  <p><b>Používateľ:</b> {{data.user.name}} {{data.user.surname}}</p>
  <p><b>Email:</b> {{data.user.email}}</p>
  <p><b>Rola:</b> {{data.user.role}}</p>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close class="cancel-button">NIE</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="submit-button">ÁNO</button>
</mat-dialog-actions>

<mat-dialog-content align="center">
  <p><b>Po potvrdení už nebude možné tento krok vrátiť späť.</b></p>
</mat-dialog-content>
